body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    color: #212121;
    text-align: center;
}

.order-summary,
.payment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.delivery-number {
    font-weight: bold;
    margin-left: 10px;
}

.address-section {
    margin-bottom: 20px;
}

.address-title {
    font-weight: bold;
}

.product-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.product-section img {
    width: 100px; 
    height: auto; 
}

.product-details {
    margin-left: 20px;
}

.product-title {
    font-weight: bold;
}

.delivery-options {
    margin-bottom: 10px;
}

.price-details {
    margin-bottom: 10px;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
}

button {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.delivery-options p {
    margin: 0;
}

.price-details p {
    margin: 0;
}

.delivery-info {
    display: flex;
    align-items: center;
}

.delivery-info p:first-child {
    margin: 0;
}